* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

header, .hero {
    display: flex;
    color: white;
    background-color: #1f2937;
    padding: 0 100px;
}

header {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

nav a {
    margin-left: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

.right-hero {
    flex: 1;
}

.right-hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.right-hero h4 {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
    margin-bottom: 20px;
}

.right-hero button {
    padding: 5px 25px;
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
}

.left-hero {
    width: 80px;
    height: 260px;
    flex: 1;
    background-color: gray;
}

.information {
    text-align: center;
    padding: 50px 200px;
}

.information h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 250px;
    padding: 0 20px;
}

.card img {
    border: 1px solid #3882f6;
    padding: 40px 30px;
    border-radius: 8px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 32px;
    padding: 40px 150px;
    font-style: italic;
}

#quoter {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    margin-top: 10px;
}

.cta-container {
    background-color: #3882f6;
    margin: 40px 100px;
    color: white;
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.cta-container h5 {
    font-size: 20px;
    font-weight: 600;
}

.cta-container p {
    font-size: 12px;
}

.cta-container button {
    border: 1px solid white;
    background-color: #3882f6;
    color: white;
    font-weight: 800;
    border-radius: 4px;
    padding: 2px 10px;
}

footer {
    background-color: #1f2937;
    text-align: center;
}

footer p {
    color: white;
    padding: 30px 0px;
}